@charset "UTF-8";

body {
    background-color: #A2E1AA;
    font: normal 1em Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
    color: #275C2D;
}

h2 {
    color: #425C45;
}

#principal {
    background-color: #275C2D;
    color: white;
    text-align: center;
}

.basico {
    color: #619e68;
}
.intermediario {
    color: rgba(253, 253, 83, 0.911);
}
.avançado {
    color: rgba(255, 94, 94, 0.87);
}

.texto {
    text-align: justify;
}